.aws-icon .graphic {
  fill: #ff9900;
}

.aws-icon .type {
  fill: #252f3e;
}

:root:where(.pf-v5-theme-dark, .pf-v6-theme-dark) .aws-icon .type,
:root:where(.pf-v5-theme-dark, .pf-v6-theme-dark) .aws-icon .graphic {
  fill: #ffffff;
}
