.temptifly .creation-view-controls-custom .pf-c-input-group {
    max-width: unset;
}

.infra-env-form {
    padding-right: var(--pf-c-page__main-section--PaddingRight);
    padding-bottom: var(--pf-c-page__main-section--PaddingBottom);
}

.temptifly.showEditor .infra-env-form > .pf-l-grid__item {
    --pf-l-grid__item--GridColumnEnd: span 12;
}
