/backend/.vscode/
/backend/certs/
/backend/coverage/
/backend/build/
/backend/node_modules/
/backend/test/
/backend/.dockerignore
/backend/.gitignore
/backend/.Dockerfile
/backend/*.md

/frontend/.vscode/
/frontend/build/
/frontend/node_modules/
/frontend/coverage/
/frontend/*.md

/.git/
/node_modules/
/.dockerignore
/.gitignore
/Dockerfile
/console.code-workspace
/*.md

/docs/
/chart/
/e2e/
/cypress/
/cli/