.husky

/build

/backend/.vscode/
/backend/certs/
/backend/coverage/
/backend/bin/
/backend/.env

/backend-node/.vscode/
/backend-node/coverage/
/backend-node/build/
/backend-node/node_modules/
/backend-node/public/
/backend-node/.dockerignore
/backend-node/.gitignore
/backend-node/.Dockerfile
/backend-node/*.md

/frontend/.vscode/
/frontend/build/
/frontend/node_modules/
/frontend/coverage/
/frontend/*.md

/.git/
/node_modules/
/.dockerignore
/.gitignore
/Dockerfile*
/Containerfile*
/console.code-workspace
/*.md

/docs/
/chart/
/e2e/
/cypress/
/cli/