/backend/.vscode/
/backend/certs/
/backend/coverage/
/backend/lib/
/backend/node_modules/
/backend/test/
/backend/.dockerignore
/backend/.gitignore
/backend/.Dockerfile
/backend/*.md

/frontend/build/
/frontend/node_modules/
/frontend/*.md

/.git/
/node_modules/
/.dockerignore
/.gitignore
/Dockerfile
/my-app.code-workspace
/*.md
