# Copyright Contributors to the Open Cluster Management project

**/certs/
**/node_modules/
**/dist/
**/build/
**/.eslintcache
**/tsconfig.tsbuildinfo
**/.env
**/ocp-console/

.build-harness
.build-harness-bootstrap
build-harness
build-harness-extensions
.vscode/settings.json
