# Copyright Contributors to the Open Cluster Management project

language: minimal
services: docker

#addons:
#    sonarcloud:
#        organization: "open-cluster-management"
#        token:
#            secure: "k6DjbsQ/5vFIs59XeFvG4h/7Exhk8SQZfl3SwzyLv4dSAeKiaYhnSCsnIUa7pi6RXE79tfevwx8zGfTKVp1ohOZvztreLIqxzOnlM3pmfG2O4wa3+EtkH9IeBo0yYgNePBZUygrrVzERXwJOjLLwOsPachyAMEdMTUjPnw7xg4rjLIXH7xLnCic6GlS5+kYtsygtvIgH21NktnUWTYM4ZtyPK9li627h4ae+3524tJKkKFqdRZGHvPfj/dnTIEaXKy2QiCehVn7GaLyVS9mcqNNfwB+3jhmTDHZjNQPKUgE02rl2dWEpqiMKc0dQALhwURGMLuljCN6KcpojCLm/vOSgTMDFOQ7xJgpa1/7dB9qb6fcGfWvv4a1Il6DjGuUbuVETsJdEJIWQl1U78qshP/tSSNsELlv5Tmj+hzroBiY3TlgrHkqvZOCngWz3aeUlunjNwJtbebh9+jKPZwLiwY3Zlb0L1/SlAFAhCTpzoCKjm23jsDu0FhRx7MHi+YPhr85d9WrQjFG5BmSjq2T82Rmjceg/VTRSmr8AJVOjQhyw2uCmxX0/qQJKPz8Tg1QauIuA+f1NB9ilHhrH/Qbjl/uNOkVU9oxh6l8cRcIE7zy3QETtIBK0P3LKTbWbvUSmpfjzQLbonNm4SEB6GsPjUGdGp0t7E/2DDNTKGs+jptQ="

branches:
    only:
        - main
        - /^release-[0-9]+\..*$/

before_script:
    - travis_retry timeout 2m make init

jobs:
    include:
        - stage: build test lint check push
          if: type != cron
          script:
              - set -e
              - if [ "$TRAVIS_PULL_REQUEST" != "false" ]; then export COMPONENT_TAG_EXTENSION="-PR${TRAVIS_PULL_REQUEST}-${TRAVIS_COMMIT}"; fi;
              - make component/build
#              - if [ "$DOCKER_PASS" != "" ]; then make component/push ; else echo "No DOCKER_PASS. Skipping image push."; fi

        - stage: build test lint check push
          if: type != cron
          language: node_js
          node_js: "14"
          install: npm ci
          script:
              - set -e
              - npm run lint
              - npm run check
              - npm test
#              - make sonar/js

#        - stage: fast forward commits to release branch
#          if: type = push AND branch =~ /^main$/
#          script: make release-ff

#        - stage: update release manifest
#          if: type = push AND branch =~ /^release-[0-9]+\..*$/
#          script: make pipeline-manifest/update PIPELINE_MANIFEST_COMPONENT_SHA256=${TRAVIS_COMMIT} PIPELINE_MANIFEST_COMPONENT_REPO=${TRAVIS_REPO_SLUG} PIPELINE_MANIFEST_BRANCH=${TRAVIS_BRANCH}

        - stage: Automated Dependency Upgrade
          if: type = cron AND branch = main
          language: node_js
          node_js: "14"
          install: echo skip install
          script:
              - set -e
              - git remote remove origin
              - git remote add origin https://${GITHUB_TOKEN}@github.com/@open-cluster-management/console.git > /dev/null 2>&1
              - git checkout main
              - npm ci
              - npm run update
              - npm run build
              - git config --global user.email "travis@travis-ci.org"
              - git config --global user.name "Travis CI"
              - git add -u :/
              - set +e
              - git commit -m "fix(deps) - upgrade dependencies"
              - git push origin main
