.pf-v6-c-page__main-container {
  height: 100%;
}

.pf-v6-c-drawer__body {
  display: flex;
  flex-direction: column;
}

.pf-topology-control-bar {
  left: 10px;
  bottom: 10px;
}

.pf-v6-c-toolbar {
  padding: 5px 0 0 5px;
  row-gap: 5px;
}

.how-to-read-text {
  font-weight: bold;
  color: #06c;
  font-size: 14px;
  line-height: 20px;
  text-align: left;
  cursor: pointer;
  margin-right: 4px;
}

.how-to-read-icon {
  width: 14px;
  height: 11px;
  margin-left: 9px;
  fill: #06c;
}

.pf-topology__node__icon {
  fill: #000;
  stroke: 'none';
}

:root:where(.pf-v5-theme-dark, .pf-v6-theme-dark) .pf-topology__node__icon {
  fill: #fff;
}

.pf-topology__node__icon_reverse {
  fill: #fff;
  stroke: 'none';
}

:root:where(.pf-v5-theme-dark, .pf-v6-theme-dark) .pf-topology__node__icon_reverse {
  fill: #000;
}

.pf-topology__node__icon__stroke {
  stroke: #000;
}

:root:where(.pf-v5-theme-dark, .pf-v6-theme-dark) .pf-topology__node__icon__stroke {
  stroke: #fff;
}
