
// On create page
.pf-c-content {
  .creation-view {
    &.showEditor {
      margin: -24px 0 -3.125rem 0;
    }

    .creation-view-split-container {
      &.showEditor {
        height: calc(100vh - 220px);

        .creation-view-controls-container {
          padding-top: 1.0rem;
          height: calc(100vh - 225px);
        }
      }
    }
  }
}

.portal-controls {
  display: flex;
  >div {
    margin-left: 10px;
  }
}
