.pf-c-content .temptifly.showEditor,
.temptifly.showWizard {
    margin: -24px 0 -3.125rem 0;
}
.pf-c-content .temptifly .creation-view-split-container.showEditor {
    height: calc(100vh - 200px);
}
.pf-c-content .temptifly .creation-view-split-container.showEditor .creation-view-controls-container,
.pf-c-content .temptifly.showWizard .creation-view-controls-container {
    padding-top: 1rem;
    height: calc(100vh - 205px);
}
.portal-controls {
    display: flex;
}
.portal-controls > div {
    margin-left: 16px;
}
