.pf-v6-c-toolbar {
  padding: 10px;
  background-color: var(--pf-v5-c-page__main-section--m-light--BackgroundColor);
  border-color: var(--pf-v5-global--BorderColor--100);
}
.pf-topology-control-bar {
  position: absolute;
  bottom: 0;
  left: var(--pf-t--global--spacer--lg);
}
.pf-topology-control-bar__button.pf-v6-c-button.pf-m-tertiary {
  margin-right: var(--pf-t--global--spacer--gap--control-to-control--default);
  margin-top: var(--pf-t--global--spacer--xs);
  padding: var(--pf-t--global--spacer--control--vertical--plain)
    var(--pf-t--global--spacer--control--horizontal--default);
  border: none;
  border-radius: var(--pf-t--global--border--radius--small);
  box-shadow: var(--pf-t--global--box-shadow--sm);
}
.pf-topology-control-bar__button.pf-v6-c-button.pf-m-tertiary:not(.pf-m-disabled) {
  background-color: var(--pf-t--global--background--color--primary--default);
}
.pf-topology-control-bar__button.pf-v6-c-button.pf-m-tertiary:after {
  display: none;
}
.pf-topology-control-bar__button.pf-v6-c-button.pf-m-tertiary:hover {
  border: none;
  box-shadow: var(--pf-t--global--box-shadow--md);
}

.channel-controls-container {
  display: flex;
  align-items: baseline;
}
.channel-controls-container .channelsCombo {
  width: 100%;
  font-weight: 400;
  font-size: 14px;
}
.channel-controls-container .channelsCombo .pf-v5-c-dropdown,
.channel-controls-container .channelsCombo #comboChannel {
  width: 100%;
}
.channel-controls-container .channelsCombo .pf-v5-c-dropdown__toggle-text {
  white-space: normal;
  text-align: left;
  font-size: 14px;
}
.channel-controls-container .channelsCombo .pf-v5-c-dropdown__menu-item {
  font-size: 14px;
}
.channel-controls-container .pf-v5-c-options-menu {
  display: none;
}
.channel-controls-container .label {
  font-family: RedHatText;
  font-size: 0.8rem;
  font-weight: bold;
  line-height: 18px;
  padding-right: 10px;
  white-space: nowrap;
}
.channel-controls-container .pagination {
  display: flex;
}
.channel-controls-container .resourcePaging {
  display: flex;
  margin-left: 40px;
}
.channel-controls-container .show-subscription-pages-icon {
  align-items: center;
}
.channel-controls-container .channel-controls-help-icon {
  fill: #06c;
  margin-left: 4px;
  cursor: pointer;
}
.channel-controls-container .channel-control {
  padding: 2px 0 2px 3px;
  position: relative;
  color: #152935;
  line-height: 10px;
}
.channel-controls-container .channel-control-subscripion {
  font-size: 1rem;
  font-weight: bold;
}
.channel-controls-container .channel-control-channel {
  font-size: 10px;
  font-weight: 600;
}
.channel-controls-container .channel-control-start {
  font-size: 0.3rem;
  font-weight: 600;
}
.channel-controls-container .channel-control-end {
  font-size: 8px;
}
.channel-controls-container .channel-control:hover {
  cursor: pointer;
  background-color: #f3f7fb;
}
.channel-controls-container .channel-control.selected {
  border-left: 4px solid #06c;
  background-color: #f3f7fb;
}
