[class='pf-topology__node__background'] {
  fill: white;
}

.pf-v5-theme-dark .pf-topology__node__background,
.pf-v6-theme-dark .pf-topology__node__background {
  stroke-width: 3;
}

.pf-topology-container {
  flex: 1;
}

.pf-topology-connector-arrow {
  fill: #808080;
}
.pf-v5-c-drawer__body:last-child {
  height: 100%;
}
.pf-topology-view__project-toolbar {
  width: 100%;
}
