.ocm-icons {
  border: 2px solid var(--pf-global--BorderColor--100);
  border-radius: 100%;
  flex-shrink: 0;
  font-size: 28px;
  height: var(--pf-global--spacer--2xl);
  text-align: center;
  width: var(--pf-global--spacer--2xl);
  display: flex;
  align-items: center;
  position: relative;
  justify-content: center;
}
