:root {
  --sy-c-code-editor__code--PaddingTop: 0;
  --sy-c-code-editor__code--PaddingRight: 0;
  --sy-c-code-editor__code--PaddingBottom: 0;
  --sy-c-code-editor__code--PaddingLeft: 0;
}

.sy-c-code-editor__title {
  display: flex;
  align-items: center;
  padding: 0 12px;
}

.sync-editor__container {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.sync-editor__container .pf-c-code-editor__header {
  font-size: 14px;
  font-weight: 600;
  color: #ededed;
  background-color: #25282c;
}

.sync-editor__container .pf-c-code-editor__controls {
  width: 100%;
  justify-content: space-between;
}

.sync-editor__container .pf-c-code-editor__header::before {
  border: none;
}

.sync-editor__container .pf-c-code-editor__controls .pf-c-button.pf-m-control {
  background-color: #25282c;
}

.sync-editor__container .pf-c-button.pf-m-plain,
.pf-c-code-editor__controls .pf-c-button.pf-m-control:not([disabled]) {
  color: #ededed;
}

.sync-editor__container .pf-c-button::after {
  border: none;
  border-left: 1px solid #55585c;
}

.sync-editor__container .pf-c-button:hover {
  color: #ededed;
  background-color: #25282c;
}

.sync-editor__container .pf-c-code-editor__main {
  border: none;
}

.sync-editor__container .pf-c-code-editor__code {
  padding: var(--sy-c-code-editor__code--PaddingTop) var(--sy-c-code-editor__code--PaddingRight)
    var(--sy-c-code-editor__code--PaddingBottom) var(--sy-c-code-editor__code--PaddingLeft);
}

.protectedDecoration {
  color: #b0b0b0 !important;
  user-select: auto;
}

.filterDecoration {
  /* color: #b0b0b0 !important; */
  cursor: pointer;
  user-select: auto;
}

.infoDecoration {
  margin-left: 6px;
  height: 14px !important;
  width: 14px !important;
  cursor: pointer;
  z-index: 1000;
  background: url("data:image/svg+xml;utf8, <svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8' width='14' height='14'><g fill='white'><circle cx='3.9' cy='3.4' r='3.4'/><g transform='translate(4.000000, 4.000000)'><path fill='%232B9AF3' d='M0,4c2.2,0,4-1.8,4-4c0-2.2-1.8-4-4-4s-4,1.8-4,4C-4,2.2-2.2,4,0,4z M0-0.9 c-0.4,0-0.7-0.3-0.7-0.7S-0.4-2.2,0-2.2s0.7,0.3,0.7,0.7S0.4-0.9,0-0.9z M0.7,2.1h-1.4c-0.1,0-0.2-0.1-0.2-0.2V1.5 c0-0.1,0.1-0.2,0.2-0.2h0.2v-1h-0.2c-0.1,0-0.2-0.1-0.2-0.2v-0.4c0-0.1,0.1-0.2,0.2-0.2h1c0.1,0,0.2,0.1,0.2,0.2v1.6h0.2 c0.1,0,0.2,0.1,0.2,0.2v0.4C0.9,2,0.8,2.1,0.7,2.1z'/>></g></g></svg>");
}

.errorDecoration {
  margin-left: 6px;
  height: 14px !important;
  width: 14px !important;
  cursor: pointer;
  z-index: 1000;
  background: url("data:image/svg+xml;utf8, <svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8' width='14' height='14'><g fill='white'><circle cx='3.9' cy='3.4' r='3.4'/><g transform='translate(4.000000, 4.000000)'><path fill='%23C9190B' d='M0,4c2.2,0,4-1.8,4-4c0-2.2-1.8-4-4-4s-4,1.8-4,4C-4,2.2-2.2,4,0,4z M0.4,0.5h-0.8 c-0.1,0-0.2-0.1-0.2-0.2l-0.1-2.2c0-0.1,0.1-0.2,0.2-0.2h1c0.1,0,0.2,0.1,0.2,0.2L0.6,0.3C0.6,0.4,0.5,0.5,0.4,0.5z M0,2.3 c-0.4,0-0.7-0.3-0.7-0.7S-0.4,0.8,0,0.8s0.7,0.3,0.7,0.7S0.4,2.3,0,2.3z'/></g></g></svg>");
}

.insertedLineDecoration {
  background: #87d4ecab;
  width: 6px !important;
  margin-left: 12px;
}

.customLineDecoration {
  background: blue;
  width: 6px !important;
  margin-left: 12px;
}
