.pf-v5-c-drawer__panel .pf-v5-c-drawer__body.pf-m-no-padding .pf-v5-c-drawer__actions {
  display: flex;
  justify-content: flex-end;
}

.pf-v5-c-drawer__panel
  .pf-v5-c-drawer__body.pf-m-no-padding
  .pf-v5-c-drawer__actions
  .pf-v5-c-drawer__close
  .pf-v5-c-button.pf-m-plain {
  padding: 5px 5px 0px 0px;
}
