.add-label-btn {
  padding: 5px;
  cursor: pointer;
}
.btn-disabled {
  cursor: not-allowed !important;
}

.clusterSelector-container .pf-c-accordion__expanded-content-body::after {
  background-color: unset;
}
