.add-label-btn {
    width: 190px;
    height: 40px;
    padding: 5px;
    text-align: center;
    cursor: pointer;
}
.btn-disabled {
    cursor: not-allowed !important;
}

.clusterSelector-container .pf-c-accordion__expanded-content-body::after {
    background-color: unset;
}
