/* Toggle subscriptions btn */
.toggle-subs-btn {
    width: 208px;
    height: 32px;
    display: block;
    padding: 6px 0;
    margin: 20px auto 10px;
    font-size: 13px;
    font-weight: 600;
}

/* Subscription cards */
.sub-card-container {
    width: 100%;
    height: 6.75rem;
    display: grid;
    margin-top: 16px;
    font-size: 14px;
    background-color: white;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
    grid-template-columns: 33% 34% 33%;
}

.sub-card-column {
    padding: calc(10px + 1rem);
}

.sub-card-content {
    margin-left: 30px;
    margin-top: -20px;
    position: relative;
}

.sub-card-title {
    font-weight: 600;
    margin-bottom: 10px;
}
.loading-skeleton-text {
    display: inline-block;
}

/* Cluster count */
.cluster-count-link {
    color: #0066cc;
}

/* "?" help icons */
.overview-cards-container .help-icon {
    fill: #0066cc;
    margin-left: 4px;
    cursor: pointer;
}

.overview-cards-container .status-icon-container {
    display: inline-block;
    width: 40px;
    height: 24px;
    border-radius: 12px;
    padding: 1px 2px 1px 6px;
    margin-right: 8px;
}

.green-status {
    background-color: #f3faf2;
}

.yellow-status {
    background-color: #fdf7e7;
}

.red-status {
    background-color: #faeae8;
}

.orange-status {
    background-color: #f0f0f0;
}

.overview-cards-container .status-icon {
    width: 12px;
    height: 12px;
}

.status-count {
    display: inline-block;
    font-size: 12px;
    margin-left: 4px;
    padding-top: 2px;
    vertical-align: top;
}

.app-name-container {
    display: flex;
    align-items: baseline;
}

.app-name {
    margin-right: 12px;
}

/* Argo links */
.overview-cards-container .argo-links-container {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.pf-c-button.pf-m-link {
    font-size: var(--pf-global--FontSize--sm);
}

.argoLinkLoading {
    pointer-events: none;
    color: #5a6872;
}

.syncInProgress {
    pointer-events: none;
    color: #5a6872;
}

/* Search resource link */
.details-item-link {
    color: #0066cc;
    text-decoration: none;
}

/* Toggle subscriptions btn */
.toggle-subs-btn {
    width: 208px;
    height: 32px;
    display: block;
    padding: 6px 0;
    margin: 20px auto 10px;
    font-size: 13px;
    font-weight: 600;
}

/* Subscription cards */
.sub-card-container {
    width: 100%;
    height: 6.75rem;
    display: grid;
    margin-top: 16px;
    font-size: 14px;
    background-color: white;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
    grid-template-columns: 33% 34% 33%;
}

.sub-card-column {
    padding: calc(10px + 1rem);
}

.subs-icon {
    width: 16px;
    height: 13px;
    position: relative;
}

.sub-card-content {
    margin-left: 30px;
    margin-top: -20px;
    position: relative;
}

.sub-card-title {
    font-weight: 600;
    margin-bottom: 10px;
}

.set-time-window-link {
    display: inline-block;
    color: #0066cc;
    text-decoration: none;
    cursor: pointer;
}

.new-tab-icon {
    width: 14px;
    height: 14px;
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 2px;
    margin-left: 6px;
}

.new-tab-icon .argo-app-link {
    margin-left: 0px;
}
