/* Copyright Contributors to the Open Cluster Management project */

.label-with-popover-container {
  display: flex;
}
.label-with-popover {
  display: inline-block;
  margin-right: 8px;
}
.label-with-popover.pf-v5-c-popover {
  --pf-v5-c-popover__content--Padding: 0px;
  --pf-v5-c-popover__content--PaddingTop: var(--pf-v5-c-popover__content--Padding);
  --pf-v5-c-popover__content--PaddingLeft: var(--pf-v5-c-popover__content--Padding);
  --pf-v5-c-popover__content--PaddingBottom: var(--pf-v5-c-popover__content--Padding);
  --pf-v5-c-popover__content--PaddingRight: var(--pf-v5-c-popover__content--Padding);
  --pf-v5-c-popover--c-button--sibling--PaddingRight: var(--pf-v5-c-popover__content--Padding);
  --pf-v5-c-popover--c-button--Right: var(--pf-v5-c-popover__content--Padding);
}
.label-with-popover.pf-v5-c-popover .pf-v5-c-popover__content .pf-v5-c-button {
  --pf-v5-c-button--PaddingTop: 1rem;
}
.label-with-popover.pf-v5-c-popover .pf-v5-c-popover__content h6 {
  padding: 1rem 1rem 0 1rem;
}
.channel-labels {
  --gutter: 0.5rem;
  --margin: 1rem;
}
.channel-labels .pf-v5-l-split {
  --pf-v5-l-split--m-gutter--MarginRight: var(--gutter);
}
.channel-labels .pf-v5-l-stack {
  --pf-v5-l-stack--m-gutter--MarginBottom: var(--gutter);
}
.channel-labels .channel-label {
  --pf-v5-l-split--m-gutter--MarginRight: 8px;
}
.channel-labels .channel-entry {
  margin: var(--margin);
  padding-right: calc(3rem);
}
.channel-labels .channel-entry-link {
  display: block;
  color: #06c;
  fill: #06c;
  word-break: break-all;
}
.channel-labels .channel-entry-link svg {
  margin-left: 8px;
}
.channel-labels .channel-entry-link + .channel-entry-attribute {
  /* extra padding for first attribute after link */
  padding-top: calc(2 * var(--gutter));
}
.channel-labels .channel-entry-attribute-name {
  font-weight: 600;
}
.channel-labels-popover-content {
  max-height: 360px;
  overflow-y: auto;
}
