.hypershift-diagram-majorRectStyle {
  background-color: var(--pf-global--BackgroundColor--100);
  padding: 24px;
  width: 50%;
}

.hypershift-diagram-middleRectStyle {
  background-color: #f3f3f3;
  padding: 20px;
}

:where(.pf-theme-dark) .hypershift-diagram-middleRectStyle {
  background-color: #3f3f3f;
  padding: 20px;
}

.hypershift-diagram-minorRectStyle {
  background-color: var(--pf-global--BackgroundColor--100);
  border: 2px solid #0e5ecd;
  padding: 18px;
}

:where(.pf-theme-dark) .hypershift-diagram-minorRectStyle {
  background-color: #4e4e4e;
  border: 2px solid #0e5ecd;
  padding: 18px;
}

.hypershift-diagram-blueBlockStyle {
  background-color: #d9e8f6;
  text-align: center;
  padding: 12px 24px 12px 24px;
}

:where(.pf-theme-dark) .hypershift-diagram-blueBlockStyle {
  background-color: #003f79;
  text-align: center;
  padding: 12px 24px 12px 24px;
}

.hypershift-diagram-blueBlockStyle-noTextAlign {
  background-color: #d9e8f6;
  padding: 12px 24px 12px 24px;
}

:where(.pf-theme-dark) .hypershift-diagram-blueBlockStyle-noTextAlign {
  background-color: #003f79;
  padding: 12px 24px 12px 24px;
}

.hypershift-diagram-greenBlockStyle {
  background-color: #dfebc1;
  text-align: center;
  padding: 12px 24px 12px 24px;
}

:where(.pf-theme-dark) .hypershift-diagram-greenBlockStyle {
  background-color: #435e00;
  text-align: center;
  padding: 12px 24px 12px 24px;
}

.hypershift-diagram-greenBlockStyle-noTextAlign {
  background-color: #dfebc1;
  padding: 12px 24px 12px 24px;
}

:where(.pf-theme-dark) .hypershift-diagram-greenBlockStyle-noTextAlign {
  background-color: #435e00;
  padding: 12px 24px 12px 24px;
}
