.acm-c-wizard-get-started--card-icon {
  display: block;
  color: var(--pf-t--global--icon--color--brand--default);
  margin-bottom: 10px;
}

.acm-c-wizard-get-started-terraform--card-icon {
  display: block;
  color: var(--pf-t--global--icon--color--brand--default);
  margin-bottom: 2px;
}
