@import './control-panel-cards.css';
@import './control-panel-controls.css';
@import './control-panel-finish.css';
@keyframes flash {
  0% {
    outline-color: #7fffd4;
  }
}
.loading-control {
  display: flex;
  justify-content: left;
}
.temptifly .creation-view-portals,
.creation-view .creation-view-portals {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.temptifly .creation-view-portals > div,
.creation-view .creation-view-portals > div {
  margin-right: 25px;
}
.temptifly .creation-view-controls,
.creation-view .creation-view-controls {
  display: flex;
  flex-direction: column;
  row-gap: 0;
}
.temptifly .creation-view-controls div:focus,
.creation-view .creation-view-controls div:focus {
  outline: none;
}
.temptifly .creation-view-controls-section,
.creation-view .creation-view-controls-section {
  max-height: 10000px;
  transition: max-height 0.3s;
}
.temptifly .creation-view-controls-section.collapsed,
.creation-view .creation-view-controls-section.collapsed {
  overflow: hidden;
  max-height: 0;
}
.temptifly .creation-view-controls-section.shadowed,
.creation-view .creation-view-controls-section.shadowed {
  border: 1px solid #dfe0e3;
  background: white;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
  padding: 20px;
}
.temptifly .creation-view-controls-section.shadowed .pf-c-form-control,
.creation-view .creation-view-controls-section.shadowed .pf-c-form-control {
  background-color: #f4f7fb;
}
.temptifly .creation-view-controls-section.shadowed.collapsed,
.creation-view .creation-view-controls-section.shadowed.collapsed {
  overflow: hidden;
  max-height: 0;
  border: none;
  padding: 0;
}
.temptifly .creation-view-controls-section.collapsed,
.creation-view .creation-view-controls-section.collapsed {
  overflow: hidden;
  max-height: 0;
}
.temptifly .pf-c-wizard__footer,
.creation-view .pf-c-wizard__footer {
  box-shadow: rgba(3, 3, 3, 0.16) 0px -2px 4px -1px;
}
.temptifly .pf-c-skeleton,
.creation-view .pf-c-skeleton {
  height: 40px;
  background-color: #e0e0e0;
}
.temptifly .pf-c-form-control.input,
.creation-view .pf-c-form-control.input {
  padding: 0;
}
.temptifly .pf-c-form-control .pf-c-combo-control,
.creation-view .pf-c-form-control .pf-c-combo-control {
  height: 100%;
  border: none;
  text-overflow: ellipsis;
  padding-left: 6px;
}
.temptifly .pf-c-alert h4,
.creation-view .pf-c-alert h4 {
  margin: 0;
}
.temptifly-controls,
.creation-view-controls {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}
.temptifly-controls-note,
.creation-view-controls-note {
  cursor: default;
  display: flex;
  padding-bottom: 2rem;
  font-size: 0.875rem;
  font-weight: 400;
}
.temptifly-controls-must-exist,
.creation-view-controls-must-exist {
  padding-top: 3px;
  margin-left: 0.25rem;
}
.temptifly-controls .info-icon,
.creation-view-controls .info-icon {
  margin-left: 0.375rem;
  width: 1rem;
  height: 1rem;
  fill: #3d70b2;
  stroke: none;
  cursor: pointer;
}
.temptifly-controls-title,
.creation-view-controls-title {
  cursor: pointer;
}
.temptifly-controls-title:focus,
.creation-view-controls-title:focus {
  outline: none;
}
.temptifly-controls-title-circle,
.creation-view-controls-title-circle {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  margin: 0 10px;
  background: #25282c;
  border: 3px solid #25282c;
  color: #fff;
  font-size: 20px;
}
.temptifly-controls-title-main,
.creation-view-controls-title-main {
  font-weight: normal;
  font-size: 16px;
  padding: 16px 0;
  display: flex;
  align-items: center;
  position: relative;
  line-height: 28px;
}
.temptifly-controls-title-main.overline,
.creation-view-controls-title-main.overline {
  border-top: 4px double #d3caca;
}
.temptifly-controls-title-main.subtitle,
.creation-view-controls-title-main.subtitle {
  font-size: 16px;
}
.temptifly-controls-title-main-collapse-button,
.creation-view-controls-title-main-collapse-button {
  display: flex;
}
.temptifly-controls-title-main-collapse-button > svg,
.creation-view-controls-title-main-collapse-button > svg {
  margin: 0 6px;
  width: 16px;
  height: 16px;
  fill: var(--pf-global--Color--100);
  transition: all 100ms;
  transform: rotate(90deg);
}
.temptifly-controls-title-main-name,
.creation-view-controls-title-main-name {
  height: 32px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: hidden;
}
.temptifly-controls-title-main-summary,
.creation-view-controls-title-main-summary {
  padding-left: 30px;
  font-weight: 400;
  visibility: hidden;
}
.temptifly-controls-title-main-summary.visible,
.creation-view-controls-title-main-summary.visible {
  visibility: visible;
}
.temptifly-controls-title-main-summary .tag,
.creation-view-controls-title-main-summary .tag {
  cursor: default;
  font-size: 12px;
  margin-right: 10px;
  color: #596a73;
  background-color: #e3e7e9;
}
.temptifly-controls-title-normal-container,
.creation-view-controls-title-normal-container {
  display: flex;
  align-items: center;
}
.temptifly-controls-title-normal,
.creation-view-controls-title-normal {
  font-weight: normal;
  font-size: 14px;
  padding: 0 0 8px;
}
.temptifly-controls-title.collapsed .creation-view-controls-title-normal-container,
.creation-view-controls-title.collapsed .creation-view-controls-title-normal-container {
  display: none;
}
.temptifly-controls-title.collapsed .creation-view-controls-title-main-collapse-button > svg,
.creation-view-controls-title.collapsed .creation-view-controls-title-main-collapse-button > svg {
  transform: rotate(0);
}
.temptifly-controls-title.collapsed .creation-view-controls-title-main-name,
.creation-view-controls-title.collapsed .creation-view-controls-title-main-name {
  text-overflow: ellipsis;
}
.temptifly-controls-title.collapsed .creation-view-controls-title-main-summary,
.creation-view-controls-title.collapsed .creation-view-controls-title-main-summary {
  visibility: visible;
}
.temptifly-controls-singleselect-loading,
.creation-view-controls-singleselect-loading,
.temptifly-controls-combobox-loading,
.creation-view-controls-combobox-loading,
.temptifly-controls-treeselect-loading,
.creation-view-controls-treeselect-loading {
  position: relative;
  background-color: white;
  padding: 5px 8px 5px 30px;
  height: 36px;
  border-bottom: 1px solid #8a8d90;
}
.temptifly-controls-singleselect-loading .pf-c-spinner,
.creation-view-controls-singleselect-loading .pf-c-spinner,
.temptifly-controls-combobox-loading .pf-c-spinner,
.creation-view-controls-combobox-loading .pf-c-spinner,
.temptifly-controls-treeselect-loading .pf-c-spinner,
.creation-view-controls-treeselect-loading .pf-c-spinner {
  position: absolute;
  top: 6px;
  left: 4px;
}
.temptifly-controls-singleselect .tf--list-box,
.creation-view-controls-singleselect .tf--list-box,
.temptifly-controls-combobox .tf--list-box,
.creation-view-controls-combobox .tf--list-box,
.temptifly-controls-treeselect .tf--list-box,
.creation-view-controls-treeselect .tf--list-box {
  position: relative;
  box-shadow: 0 1px 0 0 #5a6872;
  cursor: pointer;
}
.temptifly-controls-singleselect .tf--list-box .tf--list-box__selection,
.creation-view-controls-singleselect .tf--list-box .tf--list-box__selection,
.temptifly-controls-combobox .tf--list-box .tf--list-box__selection,
.creation-view-controls-combobox .tf--list-box .tf--list-box__selection,
.temptifly-controls-treeselect .tf--list-box .tf--list-box__selection,
.creation-view-controls-treeselect .tf--list-box .tf--list-box__selection {
  position: absolute;
  top: 0;
  bottom: 0;
  height: 100%;
  right: 0.8rem;
  padding: 0 2.2rem;
  cursor: pointer;
}
.temptifly-controls-singleselect .tf--list-box .tf--list-box__selection svg,
.creation-view-controls-singleselect .tf--list-box .tf--list-box__selection svg,
.temptifly-controls-combobox .tf--list-box .tf--list-box__selection svg,
.creation-view-controls-combobox .tf--list-box .tf--list-box__selection svg,
.temptifly-controls-treeselect .tf--list-box .tf--list-box__selection svg,
.creation-view-controls-treeselect .tf--list-box .tf--list-box__selection svg {
  height: 100%;
}
.temptifly-controls-singleselect .tf--list-box .tf--list-box__selection:focus,
.creation-view-controls-singleselect .tf--list-box .tf--list-box__selection:focus,
.temptifly-controls-combobox .tf--list-box .tf--list-box__selection:focus,
.creation-view-controls-combobox .tf--list-box .tf--list-box__selection:focus,
.temptifly-controls-treeselect .tf--list-box .tf--list-box__selection:focus,
.creation-view-controls-treeselect .tf--list-box .tf--list-box__selection:focus {
  outline: #06c auto 1px;
}
.temptifly-controls-singleselect .tf--list-box .tf--list-box__menu-icon,
.creation-view-controls-singleselect .tf--list-box .tf--list-box__menu-icon,
.temptifly-controls-combobox .tf--list-box .tf--list-box__menu-icon,
.creation-view-controls-combobox .tf--list-box .tf--list-box__menu-icon,
.temptifly-controls-treeselect .tf--list-box .tf--list-box__menu-icon,
.creation-view-controls-treeselect .tf--list-box .tf--list-box__menu-icon {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 18px;
  height: 100%;
  cursor: pointer;
}
.temptifly-controls-singleselect .tf--list-box .tf--list-box__menu-icon svg,
.creation-view-controls-singleselect .tf--list-box .tf--list-box__menu-icon svg,
.temptifly-controls-combobox .tf--list-box .tf--list-box__menu-icon svg,
.creation-view-controls-combobox .tf--list-box .tf--list-box__menu-icon svg,
.temptifly-controls-treeselect .tf--list-box .tf--list-box__menu-icon svg,
.creation-view-controls-treeselect .tf--list-box .tf--list-box__menu-icon svg {
  height: 100%;
}
.temptifly-controls-singleselect .tf--list-box .tf--list-box__menu-icon:focus,
.creation-view-controls-singleselect .tf--list-box .tf--list-box__menu-icon:focus,
.temptifly-controls-combobox .tf--list-box .tf--list-box__menu-icon:focus,
.creation-view-controls-combobox .tf--list-box .tf--list-box__menu-icon:focus,
.temptifly-controls-treeselect .tf--list-box .tf--list-box__menu-icon:focus,
.creation-view-controls-treeselect .tf--list-box .tf--list-box__menu-icon:focus {
  outline: #06c auto 1px;
}
.temptifly-controls-singleselect .tf--list-box .tf--list-box__menu-icon--open,
.creation-view-controls-singleselect .tf--list-box .tf--list-box__menu-icon--open,
.temptifly-controls-combobox .tf--list-box .tf--list-box__menu-icon--open,
.creation-view-controls-combobox .tf--list-box .tf--list-box__menu-icon--open,
.temptifly-controls-treeselect .tf--list-box .tf--list-box__menu-icon--open,
.creation-view-controls-treeselect .tf--list-box .tf--list-box__menu-icon--open {
  transform: rotate(180deg);
}
.temptifly-controls-singleselect .tf--list-box .tf--list-box__refresh-icon,
.creation-view-controls-singleselect .tf--list-box .tf--list-box__refresh-icon,
.temptifly-controls-combobox .tf--list-box .tf--list-box__refresh-icon,
.creation-view-controls-combobox .tf--list-box .tf--list-box__refresh-icon,
.temptifly-controls-treeselect .tf--list-box .tf--list-box__refresh-icon,
.creation-view-controls-treeselect .tf--list-box .tf--list-box__refresh-icon {
  position: absolute;
  top: 0;
  right: 40px;
  padding: 0 4px;
  height: 100%;
  cursor: pointer;
}
.temptifly-controls-singleselect .tf--list-box .tf--list-box__refresh-icon svg,
.creation-view-controls-singleselect .tf--list-box .tf--list-box__refresh-icon svg,
.temptifly-controls-combobox .tf--list-box .tf--list-box__refresh-icon svg,
.creation-view-controls-combobox .tf--list-box .tf--list-box__refresh-icon svg,
.temptifly-controls-treeselect .tf--list-box .tf--list-box__refresh-icon svg,
.creation-view-controls-treeselect .tf--list-box .tf--list-box__refresh-icon svg {
  height: 100%;
}
.temptifly-controls-singleselect .tf--list-box .tf--list-box__menu,
.creation-view-controls-singleselect .tf--list-box .tf--list-box__menu,
.temptifly-controls-combobox .tf--list-box .tf--list-box__menu,
.creation-view-controls-combobox .tf--list-box .tf--list-box__menu,
.temptifly-controls-treeselect .tf--list-box .tf--list-box__menu,
.creation-view-controls-treeselect .tf--list-box .tf--list-box__menu {
  box-shadow: var(--pf-global--BoxShadow--md);
  position: absolute;
  left: 0;
  right: 0;
  top: 2.5rem;
  width: 100%;
  overflow-y: auto;
  background-color: var(--pf-global--BackgroundColor--100);
  z-index: 500;
  cursor: pointer;
}
.temptifly-controls-singleselect .tf--list-box .tf--list-box__menu .tf--list-box__menu-item-container,
.creation-view-controls-singleselect .tf--list-box .tf--list-box__menu .tf--list-box__menu-item-container,
.temptifly-controls-combobox .tf--list-box .tf--list-box__menu .tf--list-box__menu-item-container,
.creation-view-controls-combobox .tf--list-box .tf--list-box__menu .tf--list-box__menu-item-container,
.temptifly-controls-treeselect .tf--list-box .tf--list-box__menu .tf--list-box__menu-item-container,
.creation-view-controls-treeselect .tf--list-box .tf--list-box__menu .tf--list-box__menu-item-container {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
}
.temptifly-controls-singleselect .tf--list-box .tf--list-box__menu .tf--list-box__menu-item-title,
.creation-view-controls-singleselect .tf--list-box .tf--list-box__menu .tf--list-box__menu-item-title,
.temptifly-controls-combobox .tf--list-box .tf--list-box__menu .tf--list-box__menu-item-title,
.creation-view-controls-combobox .tf--list-box .tf--list-box__menu .tf--list-box__menu-item-title,
.temptifly-controls-treeselect .tf--list-box .tf--list-box__menu .tf--list-box__menu-item-title,
.creation-view-controls-treeselect .tf--list-box .tf--list-box__menu .tf--list-box__menu-item-title {
  font-weight: bold;
  line-height: 12px;
  font-size: 18px;
}
.temptifly-controls-singleselect .tf--list-box .tf--list-box__menu .tf--list-box__menu-item,
.creation-view-controls-singleselect .tf--list-box .tf--list-box__menu .tf--list-box__menu-item,
.temptifly-controls-combobox .tf--list-box .tf--list-box__menu .tf--list-box__menu-item,
.creation-view-controls-combobox .tf--list-box .tf--list-box__menu .tf--list-box__menu-item,
.temptifly-controls-treeselect .tf--list-box .tf--list-box__menu .tf--list-box__menu-item,
.creation-view-controls-treeselect .tf--list-box .tf--list-box__menu .tf--list-box__menu-item {
  display: flex;
  align-items: center;
  height: fit-content;
  padding: 0 1rem;
  cursor: pointer;
  position: relative;
  white-space: nowrap;
}
.temptifly-controls-singleselect .tf--list-box .tf--list-box__menu .tf--list-box__menu-item:focus,
.creation-view-controls-singleselect .tf--list-box .tf--list-box__menu .tf--list-box__menu-item:focus,
.temptifly-controls-combobox .tf--list-box .tf--list-box__menu .tf--list-box__menu-item:focus,
.creation-view-controls-combobox .tf--list-box .tf--list-box__menu .tf--list-box__menu-item:focus,
.temptifly-controls-treeselect .tf--list-box .tf--list-box__menu .tf--list-box__menu-item:focus,
.creation-view-controls-treeselect .tf--list-box .tf--list-box__menu .tf--list-box__menu-item:focus {
  outline: #06c auto 1px;
}
.temptifly-controls-singleselect .tf--list-box .tf--list-box__menu .tf--list-box__menu-item:hover,
.creation-view-controls-singleselect .tf--list-box .tf--list-box__menu .tf--list-box__menu-item:hover,
.temptifly-controls-combobox .tf--list-box .tf--list-box__menu .tf--list-box__menu-item:hover,
.creation-view-controls-combobox .tf--list-box .tf--list-box__menu .tf--list-box__menu-item:hover,
.temptifly-controls-treeselect .tf--list-box .tf--list-box__menu .tf--list-box__menu-item:hover,
.creation-view-controls-treeselect .tf--list-box .tf--list-box__menu .tf--list-box__menu-item:hover {
  background-color: rgba(85, 150, 230, 0.1);
  outline: 1px solid transparent;
}
.temptifly-controls-singleselect .tf--list-box .tf--list-box__menu .tf--list-box__menu-item b,
.creation-view-controls-singleselect .tf--list-box .tf--list-box__menu .tf--list-box__menu-item b,
.temptifly-controls-combobox .tf--list-box .tf--list-box__menu .tf--list-box__menu-item b,
.creation-view-controls-combobox .tf--list-box .tf--list-box__menu .tf--list-box__menu-item b,
.temptifly-controls-treeselect .tf--list-box .tf--list-box__menu .tf--list-box__menu-item b,
.creation-view-controls-treeselect .tf--list-box .tf--list-box__menu .tf--list-box__menu-item b {
  color: black;
  font-weight: bold;
  font-size: 16px;
  text-indent: 0px;
}
.temptifly-controls-singleselect .tf--list-box .tf--list-box__menu .tf--list-box__menu-item.tf--list-box__menu-branch,
.creation-view-controls-singleselect
  .tf--list-box
  .tf--list-box__menu
  .tf--list-box__menu-item.tf--list-box__menu-branch,
.temptifly-controls-combobox .tf--list-box .tf--list-box__menu .tf--list-box__menu-item.tf--list-box__menu-branch,
.creation-view-controls-combobox .tf--list-box .tf--list-box__menu .tf--list-box__menu-item.tf--list-box__menu-branch,
.temptifly-controls-treeselect .tf--list-box .tf--list-box__menu .tf--list-box__menu-item.tf--list-box__menu-branch,
.creation-view-controls-treeselect
  .tf--list-box
  .tf--list-box__menu
  .tf--list-box__menu-item.tf--list-box__menu-branch {
  font-weight: 700;
}
.temptifly-controls-singleselect .tf--list-box .tf--list-box__menu .tf--list-box__menu-item .tf-select__menu-item-icon,
.creation-view-controls-singleselect
  .tf--list-box
  .tf--list-box__menu
  .tf--list-box__menu-item
  .tf-select__menu-item-icon,
.temptifly-controls-combobox .tf--list-box .tf--list-box__menu .tf--list-box__menu-item .tf-select__menu-item-icon,
.creation-view-controls-combobox .tf--list-box .tf--list-box__menu .tf--list-box__menu-item .tf-select__menu-item-icon,
.temptifly-controls-treeselect .tf--list-box .tf--list-box__menu .tf--list-box__menu-item .tf-select__menu-item-icon,
.creation-view-controls-treeselect
  .tf--list-box
  .tf--list-box__menu
  .tf--list-box__menu-item
  .tf-select__menu-item-icon {
  position: absolute;
  right: 10px;
  color: #06c;
  font-size: 10px;
}
.temptifly-controls-add-value-container,
.creation-view-controls-add-value-container {
  display: flex;
  margin: 20px 0 24px 20px;
}
.temptifly-controls-add-value-container.bottom-right,
.creation-view-controls-add-value-container.bottom-right {
  justify-content: flex-end;
  margin: 0 0 24px;
}
.temptifly-controls-add-value-container a,
.creation-view-controls-add-value-container a {
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
}
.temptifly-controls-add-value,
.creation-view-controls-add-value {
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  color: #3d70b2;
}
.temptifly-controls-add-value:focus,
.creation-view-controls-add-value:focus {
  outline: none;
}
.temptifly-controls-add-button,
.creation-view-controls-add-button {
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  color: #3d70b2;
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}
.temptifly-controls-add-button svg,
.creation-view-controls-add-button svg {
  margin: 0 6px;
  width: 16px;
  height: 16px;
  fill: #3d70b2;
}
.temptifly-controls-add-button:focus,
.creation-view-controls-add-button:focus {
  outline: none;
}
.temptifly-controls-delete-button,
.creation-view-controls-delete-button {
  cursor: pointer;
  color: #3d70b2;
  display: flex;
  position: absolute;
  top: 8px;
  right: 5px;
  z-index: 100;
}
.temptifly-controls-delete-button svg,
.creation-view-controls-delete-button svg {
  margin: 0 6px;
  width: 16px;
  height: 16px;
  fill: #3d70b2;
}
.temptifly-controls-delete-button:focus,
.creation-view-controls-delete-button:focus {
  outline: none;
}
.temptifly-controls-add-combobox,
.creation-view-controls-add-combobox {
  margin-bottom: 8px;
  position: relative;
}
.temptifly-controls-add-combobox .pf-c-select,
.creation-view-controls-add-combobox .pf-c-select {
  background-color: white;
}
.temptifly-controls-table-container,
.creation-view-controls-table-container {
  margin-bottom: 20px;
  position: relative;
}
.temptifly-controls-table-exceptions,
.creation-view-controls-table-exceptions {
  color: red;
  font-size: 12px;
}
.temptifly-controls-table-delete-button,
.creation-view-controls-table-delete-button {
  cursor: pointer;
  color: #3d70b2;
  display: flex;
}
.temptifly-controls-table-delete-button .icon,
.creation-view-controls-table-delete-button .icon {
  margin: 0 6px;
  width: 16px;
  height: 16px;
  fill: #3d70b2;
}
.temptifly-controls-table-delete-button:focus,
.creation-view-controls-table-delete-button:focus {
  outline: none;
}
.temptifly-controls-table .pf-c-toolbar__content-section,
.creation-view-controls-table .pf-c-toolbar__content-section {
  justify-content: space-between;
}
.temptifly-controls-table .pf-c-table tr > *,
.creation-view-controls-table .pf-c-table tr > * {
  padding: 14px;
}
.temptifly-controls-table .tf-table-button-container,
.creation-view-controls-table .tf-table-button-container {
  display: flex;
}
.temptifly-controls-table .tf-table-button-container > div,
.creation-view-controls-table .tf-table-button-container > div {
  padding: 10px;
}
.temptifly-controls-table-singleselect,
.creation-view-controls-table-singleselect {
  padding: 0;
  min-width: 100px;
}
.temptifly-controls-table-toggle,
.creation-view-controls-table-toggle {
  display: flex;
  align-items: center;
}
@keyframes fadeIt {
  0% {
    background-color: #eef4fc;
  }
  100% {
    background-color: #fff;
  }
}
.temptifly-controls-table .new-row,
.creation-view-controls-table .new-row {
  animation: fadeIt 10s ease-out;
}
.temptifly-controls-labels,
.creation-view-controls-labels {
  padding: 0 0.3125rem 1.5625rem 2px;
}
.temptifly-controls-labels-title,
.creation-view-controls-labels-title {
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 0.875rem;
  padding-bottom: 0.5rem;
}
.temptifly-controls-labels-container,
.creation-view-controls-labels-container {
  min-height: 40px;
  box-shadow: 0 1px 0 0 #5a6872;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}
.temptifly-controls-labels-tag-container,
.creation-view-controls-labels-tag-container {
  padding: 6px 0 0 7px;
}
.temptifly-controls-labels-tag-container .pf-c-label,
.creation-view-controls-labels-tag-container .pf-c-label {
  margin-right: 5px;
}
.temptifly-controls-labels-edit-container,
.creation-view-controls-labels-edit-container {
  position: relative;
  width: 100%;
}
.temptifly-controls-labels-edit-container input,
.creation-view-controls-labels-edit-container input {
  border: none;
}
.temptifly-controls-textbox,
.creation-view-controls-textbox,
.temptifly-controls-multiselect,
.creation-view-controls-multiselect,
.temptifly-controls-singleselect,
.creation-view-controls-singleselect,
.temptifly-controls-combobox,
.creation-view-controls-combobox,
.temptifly-controls-treeselect,
.creation-view-controls-treeselect,
.temptifly-controls-select,
.creation-view-controls-select,
.temptifly-controls-textarea,
.creation-view-controls-textarea,
.temptifly-controls-number,
.creation-view-controls-number,
.temptifly-controls-cards,
.creation-view-controls-cards,
.temptifly-controls-skeleton,
.creation-view-controls-skeleton {
  padding: 0 0.3125rem 1.5625rem 2px;
}
.temptifly-controls-textbox-title,
.creation-view-controls-textbox-title,
.temptifly-controls-multiselect-title,
.creation-view-controls-multiselect-title,
.temptifly-controls-singleselect-title,
.creation-view-controls-singleselect-title,
.temptifly-controls-combobox-title,
.creation-view-controls-combobox-title,
.temptifly-controls-treeselect-title,
.creation-view-controls-treeselect-title,
.temptifly-controls-select-title,
.creation-view-controls-select-title,
.temptifly-controls-textarea-title,
.creation-view-controls-textarea-title,
.temptifly-controls-number-title,
.creation-view-controls-number-title,
.temptifly-controls-cards-title,
.creation-view-controls-cards-title,
.temptifly-controls-skeleton-title,
.creation-view-controls-skeleton-title {
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 0.875rem;
  padding-bottom: 0.5rem;
}
.temptifly-controls-textbox .pf-c-select,
.creation-view-controls-textbox .pf-c-select,
.temptifly-controls-multiselect .pf-c-select,
.creation-view-controls-multiselect .pf-c-select,
.temptifly-controls-singleselect .pf-c-select,
.creation-view-controls-singleselect .pf-c-select,
.temptifly-controls-combobox .pf-c-select,
.creation-view-controls-combobox .pf-c-select,
.temptifly-controls-treeselect .pf-c-select,
.creation-view-controls-treeselect .pf-c-select,
.temptifly-controls-select .pf-c-select,
.creation-view-controls-select .pf-c-select,
.temptifly-controls-textarea .pf-c-select,
.creation-view-controls-textarea .pf-c-select,
.temptifly-controls-number .pf-c-select,
.creation-view-controls-number .pf-c-select,
.temptifly-controls-cards .pf-c-select,
.creation-view-controls-cards .pf-c-select,
.temptifly-controls-skeleton .pf-c-select,
.creation-view-controls-skeleton .pf-c-select {
  background-color: white;
}
.temptifly-controls-textbox .pf-c-select .pf-c-select__menu,
.creation-view-controls-textbox .pf-c-select .pf-c-select__menu,
.temptifly-controls-multiselect .pf-c-select .pf-c-select__menu,
.creation-view-controls-multiselect .pf-c-select .pf-c-select__menu,
.temptifly-controls-singleselect .pf-c-select .pf-c-select__menu,
.creation-view-controls-singleselect .pf-c-select .pf-c-select__menu,
.temptifly-controls-combobox .pf-c-select .pf-c-select__menu,
.creation-view-controls-combobox .pf-c-select .pf-c-select__menu,
.temptifly-controls-treeselect .pf-c-select .pf-c-select__menu,
.creation-view-controls-treeselect .pf-c-select .pf-c-select__menu,
.temptifly-controls-select .pf-c-select .pf-c-select__menu,
.creation-view-controls-select .pf-c-select .pf-c-select__menu,
.temptifly-controls-textarea .pf-c-select .pf-c-select__menu,
.creation-view-controls-textarea .pf-c-select .pf-c-select__menu,
.temptifly-controls-number .pf-c-select .pf-c-select__menu,
.creation-view-controls-number .pf-c-select .pf-c-select__menu,
.temptifly-controls-cards .pf-c-select .pf-c-select__menu,
.creation-view-controls-cards .pf-c-select .pf-c-select__menu,
.temptifly-controls-skeleton .pf-c-select .pf-c-select__menu,
.creation-view-controls-skeleton .pf-c-select .pf-c-select__menu {
  padding-left: 0;
  margin-left: 0;
}
.temptifly-controls textarea.pf-c-form-control,
.creation-view-controls textarea.pf-c-form-control {
  min-height: 100px;
}
.temptifly-controls-treeselect .tf--list-box__menu-branch,
.creation-view-controls-treeselect .tf--list-box__menu-branch {
  font-weight: bold;
  text-decoration: none;
}
.temptifly-controls-treeselect .tf--list-box__menu-branch:before,
.creation-view-controls-treeselect .tf--list-box__menu-branch:before {
  padding-right: 2px;
  font-family: codicon;
  content: '\eab4';
}
.temptifly-controls-treeselect .tf--list-box__menu-branch.open:before,
.creation-view-controls-treeselect .tf--list-box__menu-branch.open:before {
  content: '\eab7';
}
.temptifly-controls-treeselect .tf--list-box__menu-branch.searching,
.creation-view-controls-treeselect .tf--list-box__menu-branch.searching {
  color: gray;
  font-weight: normal;
}
.temptifly-controls-checkbox,
.creation-view-controls-checkbox {
  padding: 0 0.3125rem 1.125rem 0;
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 0.875rem;
  position: relative;
}
.temptifly-controls-checkbox .pf-c-form__group-label,
.creation-view-controls-checkbox .pf-c-form__group-label,
.creation-view-controls-custom .pf-c-form__group-label {
  padding: 0 0 0 5px;
}
.temptifly-controls-checkbox .pf-c-check__input,
.creation-view-controls-checkbox .pf-c-check__input {
  margin-right: 6px;
}
.temptifly-controls .creation-view-group-container,
.creation-view-controls .creation-view-group-container {
  position: relative;
  border: 1px solid var(--pf-global--BorderColor--300);
  background-color: var(--pf-global--BackgroundColor--light-200);
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
  padding: 10px;
  margin: 10px 0;
}
.temptifly-controls .creation-view-group-container .creation-view-controls-title.collapsed,
.creation-view-controls .creation-view-group-container .creation-view-controls-title.collapsed {
  margin-bottom: 0px;
}
.temptifly-controls .creation-view-group-container .pf-c-select__toggle .pf-c-badge.pf-m-read,
.creation-view-controls .creation-view-group-container .pf-c-select__toggle .pf-c-badge.pf-m-read,
.temptifly-controls .creation-view-group-container .pf-c-form-control .pf-c-badge.pf-m-read,
.creation-view-controls .creation-view-group-container .pf-c-form-control .pf-c-badge.pf-m-read {
  background-color: darkgray;
}
.temptifly-controls .creation-view-group-container .creation-view-controls-title-main-collapse-button,
.creation-view-controls .creation-view-group-container .creation-view-controls-title-main-collapse-button {
  position: relative;
  left: unset;
}
.temptifly-controls .creation-view-group-container .creation-view-controls-title-main-collapse-button.collapsed > svg,
.creation-view-controls
  .creation-view-group-container
  .creation-view-controls-title-main-collapse-button.collapsed
  > svg {
  transform: rotate(-180deg);
}
.temptifly-controls .creation-view-group-container .techPreviewTag,
.creation-view-controls .creation-view-group-container .techPreviewTag {
  width: 88px;
  height: 26px;
  display: inline-block;
  background-color: #d93f00;
  border-radius: 3px;
  padding: 5px 0;
  margin-left: 16px;
  color: #fff;
  font-size: 12px;
  font-weight: 300;
  line-height: 16px;
  text-align: center;
}
.temptifly-controls .creation-view-group-container .tf--create-cluster-page__provider-card,
.creation-view-controls .creation-view-group-container .tf--create-cluster-page__provider-card {
  background-color: #f0f0f0;
  border: 1px solid #dfe3e6;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.temptifly-controls .tf--grid-container .tf--provider-card-container,
.creation-view-controls .tf--grid-container .tf--provider-card-container {
  position: relative;
}
.temptifly-controls .tf--grid-container .tf--provider-card-container .card-checkmark,
.creation-view-controls .tf--grid-container .tf--provider-card-container .card-checkmark {
  pointer-events: none;
  position: absolute;
  top: 8px;
  right: 8px;
  fill: blue;
}
.temptifly-controls .tf--grid-container .tf--create-cluster-page__provider-card-isDisabled,
.creation-view-controls .tf--grid-container .tf--create-cluster-page__provider-card-isDisabled {
  pointer-events: none;
  opacity: 0.5;
}
.temptifly-controls .tf--grid-container .tf--provider-card-isDisabled,
.creation-view-controls .tf--grid-container .tf--provider-card-isDisabled {
  pointer-events: none;
  opacity: 0.5;
}
.temptifly-controls .tf--grid-container .card-tooltip-container,
.creation-view-controls .tf--grid-container .card-tooltip-container {
  position: absolute;
  right: 8px;
  top: 8px;
}
.temptifly-controls.showEditor .creation-view-controls-card-container,
.creation-view-controls.showEditor .creation-view-controls-card-container {
  margin-bottom: 20px;
}

.creation-view-controls-card-container .pf-c-tile.pf-m-display-lg {
  min-height: 140px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.pf-c-tile.pf-m-display-lg .temptifly-controls.showEditor .tf--grid,
.creation-view-controls.showEditor .tf--grid,
.temptifly-controls .tf--grid-container .tf--grid,
.creation-view-controls .tf--grid-container .tf--grid {
  margin-right: 2%;
  width: 100%;
}
.temptifly-controls.showEditor .tf--grid .creation-view-controls-cards-title-container,
.creation-view-controls.showEditor .tf--grid .creation-view-controls-cards-title-container,
.temptifly-controls .tf--grid-container .tf--grid .creation-view-controls-cards-title-container,
.creation-view-controls .tf--grid-container .tf--grid .creation-view-controls-cards-title-container {
  cursor: pointer;
  display: flex;
}
.temptifly-controls.showEditor .tf--provider-card,
.creation-view-controls.showEditor .tf--provider-card,
.temptifly-controls .tf--grid-container .tf--provider-card,
.creation-view-controls .tf--grid-container .tf--provider-card {
  margin: 10px 16px 0 0;
}
.temptifly-controls.showEditor .tf--provider-card .tf--provider-card-container,
.creation-view-controls.showEditor .tf--provider-card .tf--provider-card-container,
.temptifly-controls .tf--grid-container .tf--provider-card .tf--provider-card-container,
.creation-view-controls .tf--grid-container .tf--provider-card .tf--provider-card-container {
  width: 250px;
}
.temptifly-controls.showEditor
  .tf--provider-card
  .tf--provider-card-container
  .tf--create-cluster-page__provider-card-isSelected::before,
.creation-view-controls.showEditor
  .tf--provider-card
  .tf--provider-card-container
  .tf--create-cluster-page__provider-card-isSelected::before,
.temptifly-controls
  .tf--grid-container
  .tf--provider-card
  .tf--provider-card-container
  .tf--create-cluster-page__provider-card-isSelected::before,
.creation-view-controls
  .tf--grid-container
  .tf--provider-card
  .tf--provider-card-container
  .tf--create-cluster-page__provider-card-isSelected::before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  pointer-events: none;
  content: '';
  border: 2px solid #06c;
  border-radius: 4px;
}
.temptifly-controls.showEditor .tf--provider-card .tf--provider-card-container .tf--create-cluster-page__provider-card,
.creation-view-controls.showEditor
  .tf--provider-card
  .tf--provider-card-container
  .tf--create-cluster-page__provider-card,
.temptifly-controls
  .tf--grid-container
  .tf--provider-card
  .tf--provider-card-container
  .tf--create-cluster-page__provider-card,
.creation-view-controls
  .tf--grid-container
  .tf--provider-card
  .tf--provider-card-container
  .tf--create-cluster-page__provider-card {
  width: 250px;
  height: 136px;
  margin: 0 10px 10px 0;
  display: flex;
  flex-direction: column;
  background-color: white;
}
.temptifly-controls.showEditor
  .tf--provider-card
  .tf--provider-card-container
  .tf--create-cluster-page__provider-card:hover,
.creation-view-controls.showEditor
  .tf--provider-card
  .tf--provider-card-container
  .tf--create-cluster-page__provider-card:hover,
.temptifly-controls
  .tf--grid-container
  .tf--provider-card
  .tf--provider-card-container
  .tf--create-cluster-page__provider-card:hover,
.creation-view-controls
  .tf--grid-container
  .tf--provider-card
  .tf--provider-card-container
  .tf--create-cluster-page__provider-card:hover {
  color: #06c;
  border: 1px solid #06c;
}
.temptifly-controls.showEditor
  .tf--provider-card
  .tf--provider-card-container
  .tf--create-cluster-page__provider-card
  > *,
.creation-view-controls.showEditor
  .tf--provider-card
  .tf--provider-card-container
  .tf--create-cluster-page__provider-card
  > *,
.temptifly-controls
  .tf--grid-container
  .tf--provider-card
  .tf--provider-card-container
  .tf--create-cluster-page__provider-card
  > *,
.creation-view-controls
  .tf--grid-container
  .tf--provider-card
  .tf--provider-card-container
  .tf--create-cluster-page__provider-card
  > * {
  flex: 2 1 auto;
  display: flex;
  justify-content: center;
}
.temptifly-controls.showEditor
  .tf--provider-card
  .tf--provider-card-container
  .tf--create-cluster-page__provider-card
  > *
  > img,
.creation-view-controls.showEditor
  .tf--provider-card
  .tf--provider-card-container
  .tf--create-cluster-page__provider-card
  > *
  > img,
.temptifly-controls
  .tf--grid-container
  .tf--provider-card
  .tf--provider-card-container
  .tf--create-cluster-page__provider-card
  > *
  > img,
.creation-view-controls
  .tf--grid-container
  .tf--provider-card
  .tf--provider-card-container
  .tf--create-cluster-page__provider-card
  > *
  > img,
.temptifly-controls.showEditor
  .tf--provider-card
  .tf--provider-card-container
  .tf--create-cluster-page__provider-card
  > *
  > svg,
.creation-view-controls.showEditor
  .tf--provider-card
  .tf--provider-card-container
  .tf--create-cluster-page__provider-card
  > *
  > svg,
.temptifly-controls
  .tf--grid-container
  .tf--provider-card
  .tf--provider-card-container
  .tf--create-cluster-page__provider-card
  > *
  > svg,
.creation-view-controls
  .tf--grid-container
  .tf--provider-card
  .tf--provider-card-container
  .tf--create-cluster-page__provider-card
  > *
  > svg {
  margin-top: 24px;
  width: 55px;
  height: 55px;
}
.temptifly-controls .tf--grid-container.small .tf--provider-card .tf--provider-card-container,
.creation-view-controls .tf--grid-container.small .tf--provider-card .tf--provider-card-container {
  width: 250px;
}
.temptifly-controls
  .tf--grid-container.small
  .tf--provider-card
  .tf--provider-card-container
  .tf--create-cluster-page__provider-card,
.creation-view-controls
  .tf--grid-container.small
  .tf--provider-card
  .tf--provider-card-container
  .tf--create-cluster-page__provider-card {
  width: 250px;
  height: 136px;
}
.temptifly .pf-c-wizard .pf-c-wizard__main-body,
.creation-view .pf-c-wizard .pf-c-wizard__main-body {
  padding-bottom: 0;
}
.temptifly .pf-c-wizard .creation-view-controls .creation-view-controls-title-main-name,
.creation-view .pf-c-wizard .creation-view-controls .creation-view-controls-title-main-name {
  font-weight: bold;
  margin-left: -30px;
}
.temptifly .pf-c-wizard .creation-view-controls .creation-view-controls-title-main-collapse-button,
.creation-view .pf-c-wizard .creation-view-controls .creation-view-controls-title-main-collapse-button {
  left: -25px;
}
.temptifly .pf-c-wizard .creation-view-controls .creation-view-group-container,
.creation-view .pf-c-wizard .creation-view-controls .creation-view-group-container {
  border: none;
  box-shadow: none;
  padding: 0 0 0 22px;
  margin-left: 0px;
}
