.creation-view-yaml-header {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  color: white;
  background-color: #25282c;
}
.creation-view-yaml-header-toolbar {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #55585c;
  height: 100%;
}
.creation-view-yaml-header-secrets {
  display: flex;
  align-items: center;
  height: 48px;
  margin: 0 10px;
}
.creation-view-yaml-header-secrets > div {
  white-space: nowrap;
  font-weight: normal;
}
.creation-view-yaml-header-secrets .pf-c-check__input {
  margin-right: 6px;
}
.creation-view-yaml-header-tabs {
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 0.875rem;
  border-bottom: 1px solid #55585c;
  height: 30px;
}
.creation-view-yaml-header-tabs .tf--tabs {
  width: 100%;
  position: relative;
  min-height: 18px;
  line-height: 16px;
}
.creation-view-yaml-header-tabs .tf--tabs .tf--tabs__nav {
  padding: 0;
  position: absolute;
  width: 100%;
  list-style: none;
  margin-left: 0;
  display: flex;
}
.creation-view-yaml-header-tabs .tf--tabs .tf--tabs__nav .tf--tabs__nav-item {
  margin: 0;
  cursor: pointer;
  background: transparent;
  border: none;
  border-bottom: 2px solid #3d70b2;
  width: 140px;
  padding: 0 0 6px;
  margin-left: 0;
  outline: none;
}
.creation-view-yaml-header-tabs .tf--tabs .tf--tabs__nav .tf--tabs__nav-item:not(.tf--tabs__nav-item--selected) {
  opacity: 0.4;
  border-bottom: 2px solid white;
}
.creation-view-yaml-header-tabs .tf--tabs .tf--tabs__nav .tf--tabs__nav-link {
  padding-left: 30px;
  color: white;
  font-weight: 100;
  opacity: 0.7;
  text-decoration: none;
  white-space: nowrap;
  text-overflow: ellipsis;
  outline: none;
}
.creation-view-yaml-header-tabs .tf--tabs .tf--tabs__nav .tf--tabs__nav-item--selected .tf--tabs__nav-link {
  font-weight: bold;
  opacity: 1;
}
.creation-view-yaml-header .pf-c-clipboard-copy {
  background: transparent;
}
.creation-view-yaml-header .pf-c-clipboard-copy .pf-c-button.pf-m-plain:hover {
  color: white;
}
