@import '~openshift-assisted-ui-lib/index.css';

.pf-c-toolbar__content-section {
    row-gap: 16px !important;
}

.pf-c-page__sidebar-body {
    padding-top: 0;
}

.pf-c-button.pf-m-link.automationButton {
  padding: 0px;
  font-size: 14px;
  text-align: left;
}