@import '~openshift-assisted-ui-lib/index.css';

.pf-c-toolbar__content-section {
  row-gap: 16px !important;
}

.pf-c-page__sidebar-body {
  padding-top: 0;
}

#webpack-dev-server-client-overlay,
#react-refresh-overlay {
  height: 75px !important;
  min-height: 75px !important;
  left: 50% !important;
  top: 0px !important;
  width: 400px !important;
  position: absolute !important;
}
